.main {
  background-color: rgb(27, 28, 34);
  background-size: cover;
  width: 77.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: solid rgb(51, 52, 58);
}

.pic {
  width: 38.3vw;
  height: 30vh;
}

.chat {
  margin-top: 14.8%;
  height: 30vh;
  display: flex;
  flex-direction: column-reverse;
} 

.input {
  width: 76.6vw;
  height: 10vh;
}
