.back {
  background-image: url('https://oir.mobi/uploads/posts/2021-03/1616544260_43-p-zhivoi-fon-54.jpg');
  background-size: cover;
  width: 77vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  border: red 1px solid;
  border-radius: 22px;
  width: 72vw;
  height: 25vh;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
}

