.back {
  background-color: rgb(27, 28, 34);
  background-size: cover;
  width: 77.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: solid rgb(51, 52, 58);
  
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.title {
  margin-bottom: 10%;
  font-family: sans-serif;
  font-size: 2rem;
  text-decoration: none;
  /* text-shadow:
    -2px 4px 4px #091243, 
    0 0 10px #00D0FF,
    inset 1px 1px 1px white; */
   color: rgb(13, 240, 240); 
  text-shadow:
  -2px 4px 4px #091243, 
  0 0 10px #8c00ff,
  inset 1px 1px 1px white;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(77, 0, 128, 0.3), 
    0 0 7px 2px rgba(82, 12, 211, 0.6), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(2, 0, 128, 0.3), 
    inset 0 0 7px 2px rgba(130, 18, 235, 0.6);
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  color:  white;
  font-size: 22px !important;
  border-radius: 10px !important;
  border:  rgb(110, 111, 115) solid !important;
  padding-left: 10px !important;

}


input.input::-webkit-input-placeholder { color: rgb(110, 111, 115); }

.input:focus {
  border-radius: 10px !important;
  border:  rgb(13, 240, 240) 1px solid !important;
  box-shadow: none !important;
  
}

.btnSubmit {
  /* box-shadow: none;
  text-shadow: 0 0 0px transparent;
  transition: .2s;
  -webkit-transition: .2s;
  padding: 10px;
  line-height: 20px;
  margin: 0;
  border-radius: 10px; */
  cursor: pointer;
  width: 10vw;
  background-color: rgb(27, 28, 34);
  font-size: 18px;
  margin-top: 5%;
  box-shadow: none;
  text-shadow: 0 0 0px transparent;
  transition: .2s;
  -webkit-transition: .2s;
  padding: 5px;
  /* line-height: 40px; */
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 10vw;
  border: 1px rgb(8, 200, 40) solid;
  color: rgb(8, 200, 40);
  font-size: 22px;
}
.btnSubmit:hover {
  border: 2px solid rgb(8, 200, 40);
  border-radius: 10px;
  color: white;
  text-shadow: 0 0 4px rgb(255, 255, 255);
  box-shadow: inset 0 0 6px rgb(8, 200, 40),  0 0 6px rgb(8, 200, 40);
 /* background-color: rgb(8, 200, 40); */
}
