.bars {
  display: flex;
  justify-content: space-evenly;
}

.left {
  width: 17.5vw;
  height: 100vh;
  background-color: rgb(25, 26, 31);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  width: 5vw;
  height: 100vh;
  background-color: rgb(25, 26, 31);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.btnAdd {
  margin-top: 30px;
}

.logo {
  height: 14.47vh;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 8%;
  font-family: sans-serif;
  font-size: 2rem;
  text-decoration: none;
  text-shadow:
    -2px 4px 4px #091243, 
    0 0 10px #8c00ff,
    inset 1px 1px 1px white;
  color: rgb(95, 24, 169);
  border: 2px solid;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(77, 0, 128, 0.3), 
    0 0 7px 2px rgba(82, 12, 211, 0.6), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(2, 0, 128, 0.3), 
    inset 0 0 7px 2px rgba(130, 18, 235, 0.6);
}

.btnBlock {
  width: 17.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  display: flex;
  height: 10vh;
  background-color: rgb(15, 15, 16);
  position: absolute;
}

.menu {
  display: flex;
}

.mic {
  color: rgb(159, 159, 160);
  font-size: 30px;
}

.mic:hover {
  color: white;
  cursor: pointer;
}

.micOff {
  color: red;
}

.headset {
  color: rgb(159, 159, 160);
  font-size: 30px;
}

.headset:hover {
  color: white;
  cursor: pointer;

}

.settings {
  color: rgb(159, 159, 160);
  font-size: 30px;
}

.settings:hover {
  color: white;
  cursor: pointer;

}

.myRooms {
  display: flex;
  margin-left: 10%;
  font-size: 16px;
  color: rgb(110, 111, 115);
}

.myRoomLogo {
  margin-right: 5px;
}

.myFavorite {
  display: flex;
  margin-left: 10%;
  color: rgb(110, 111, 115);
}

.fontRoom {
  font-size: 20px;
}

.fontRoomLogo {
  font-size: 26px;
  margin-right: 5px;
}

.createRoom {
  box-shadow: none;
  text-shadow: 0 0 0px transparent;
  transition: .2s;
  -webkit-transition: .2s;
  padding: 10px 10px ;
  line-height: 20px;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(110, 111, 115);
  display: flex;
  justify-content: center;
  margin-left: 9%;
  cursor: pointer;
}
.createRoom:hover {

 border-radius: 10px;
 color: white;
 text-shadow: 0 0 4px rgb(255, 255, 255);
 box-shadow: inset 0 0 6px rgb(74, 81, 246),  0 0 6px rgb(74, 81, 246);
 /* background-color: rgb(74, 81, 246); */
}

.addFriend {
  display: flex;
  justify-content: center;
  box-shadow: none;
  text-shadow: 0 0 0px transparent;
  transition: .2s;
  -webkit-transition: .2s;
  padding: 15px 15px;
  line-height: 50px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(110, 111, 115);
  font-size: 22px;
  border: 2px solid rgb(110, 111, 115);
}

.addFriend:hover {
 /* border: 2px solid rgb(8, 200, 40);
 border-radius: 50%;
 color: white;
 text-shadow: 0 0 4px rgb(255, 255, 255);
 box-shadow: inset 0 0 6px rgb(8, 200, 40) 0 0 6px rgb(8, 200, 40);
 background-color: rgb(8, 200, 40); */
 color: rgb(156, 249, 69);
 border: 2px solid;
 background-color: transparent;
 box-shadow: 
   0 1px 2px rgba(0,0,0, 0.6), 
   2px 1px 4px rgba(0,0,0, 0.3), 
   2px 4px 3px rgba(3,0,128, 0.3), 
   0 0 7px 2px rgba(0,208,255, 0.6), 
   inset 0 1px 2px rgba(0,0,0, 0.6), 
   inset 2px 1px 4px rgba(0,0,0, 0.3), 
   inset 2px 4px 3px rgba(3,0,128, 0.3), 
   inset 0 0 7px 2px rgba(0,208,255, 0.6);
}



.fakeRoom {
  border-radius: 10px;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 14vw;
  height: 3.5vh;
  background-color: rgb(35, 36, 42);
  cursor: pointer;
}

.newLogo{
  width: 100px;
margin-left: 15%;
margin-top: 10%;
}

.roomlist {
  display: flex;
  flex-wrap: wrap;
}

/* .addIcon {

} */
